header.first-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 400px;
  width: 100%;
  background-color: #00f587;
  background-image: url("https://www.transparenttextures.com/patterns/dimension.png");
  /* margin-top: 120px; */
  margin: 70px 45px 0px 45px;
}

.avatarImage {
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatarName {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Source Sans Pro", sans-serif;
  color: #FFFF;
}

img {
  padding-top: 10px;
  /* margin-top: 120px; */
}

@media screen and (max-width: 768px) {
  
  header.first-header {
  margin: 120px 0px 0px 0px;
  }


}